<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C969Scheduler.Properties.Settings.client_scheduleConnectionString"
            connectionString="server=localhost;user id=sqlUser;password=Passw0rd!;persistsecurityinfo=True;database=client_schedule"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>